html,body {
	background: url('bg.jpg');
	background-size: cover;
	overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
}
.premice {
    animation-delay: 3s;
    animation-duration: 3s;
    animation-name: premice;
    animation-timing-function: ease-out;
    font-size: 32px;
    color: blue;
    opacity: 0;
}
@keyframes premice {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
.defilement {
    color: yellow;    
    font-size: 64px;
    text-align: justify;
    transform-origin: center bottom;
    transform: perspective(300px) rotateX(15deg);
    position: absolute;
    top: 45%;
    top: auto;
    bottom: 0;
    height: 50em;
    left: 45%;
    width: 960px;
    margin: 0 0 0 -400px;
}
.defilement > div {
	animation-delay: 5s;
    animation-duration: 20s;
    animation-name: defilement;
    animation-timing-function: linear;
    
    position: absolute;
    top: 100%; 
}
@keyframes defilement {
    0% {
        top: 100%;
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        top: -100%;
        opacity: 0;
    }
}